.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  height: 80px;
}

.header__inner {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0 1.5rem;
  height: 100%;
}