<div class="section" id="about">
  <div class="section__header">
    <div class="l-constrain">
      <h2>{{ about_title }}</h2>
    </div>
  </div>
  <div class="about">
    <div class="l-constrain l-constrain--narrow">
      <div class="about__row">
        <div class="about__profile about__profile--holly">
          <div class="about__image">{{ about_image_holly }}</div>
          <div class="about__name">Holly</div>
          <div class="about__tinder-buttons">
            <div class="about__cross"></div>
            <div class="about__heart"></div>
          </div>
        </div>
        <div class="about__profile about__profile--chris">
          <div class="about__image">{{ about_image_chris }}</div>
          <div class="about__name">Chris</div>
          <div class="about__tinder-buttons">
            <div class="about__cross"></div>
            <div class="about__heart"></div>
          </div>
        </div>
        <div class="about__profile about__profile--group">
          <div class="about__image">{{ about_image_group }}</div>
          <div class="about__name">The Kovalskys</div>
        </div>
      </div>
    </div>
  </div>
</div>