<div class="section section--peach" id="details">
  <div class="section__header">
    <div class="l-constrain">
      <h2>{{ details_title }}</h2>
    </div>
  </div>
  <div class="details">
    <div class="l-constrain">
      <div class="details__row">
        <div class="details__content">
          {{ details_content|markdown }}
        </div>
        <div class="details__map"></div>
      </div>
    </div>
  </div>
</div>