<div class="hero" style="background-image: url({{ image }})">
  <div class="l-constrain">
    <div class="hero__content">
      <h1 class="hero__title">{{ title }}</h1>
      <div class="hero__subtitle">{{ subtitle }}</div>
    </div>
  </div>
</div>