<ul class="menu">
  <li class="menu__item">
    <a href="#about" class="menu__link">About Us</a>
  </li>
  <li class="menu__item">
    <a href="#details" class="menu__link">Details</a>
  </li>
  <li class="menu__item">
    <a href="#travel" class="menu__link">Travel</a>
  </li>
  <li class="menu__item">
    <a href="#accomodations" class="menu__link">Accomodations</a>
  </li>
  <li class="menu__item">
    <a href="#things-to-do" class="menu__link">Things To Do</a>
  </li>
  <li class="menu__item">
    <a href="#registry" class="menu__link">Registry</a>
  </li>
</ul>