<div class="section">
  <div class="section__header">
    <div class="l-constrain">
      <h2>{{ travel_title }}</h2>
    </div>
  </div>
  <div class="travel">
    <div class="l-constrain">
      <div class="flex-grid">
        {% for card in travel_cards %}
          {% include "partials/card.html.twig" with {
            title: card.title,
            summary: card.summary,
            eyebrow: card.code
          }%}
        {% endfor %}
      </div>
    </div>
  </div>
</div>