$grey-dark: #333;
$grey-med: #979797;

$blue: #8799BD;
$peach: #F2D2C0;
$green: #54CA93;
$red: #FD6C6E;
$gradient-peach: linear-gradient(338.85deg, #FAEBE1 0%, #F2D2C0 100%);
$gradient-blue: linear-gradient(326.28deg, #9AAACA 0%, #8799BD 100%);