$base-font: 'quicksand', sans-serif;
$header-font: 'sail', serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$base-font-size: 16px;
$font-size-md: 24px;
$font-size-lg: 36px;
$font-size-xl: 48px;
$font-size-xxl: 70px;
$font-size-xxxl: 90px